doctype html
html
  head
    title Drugi projekt
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Sigurnost

    div
      button(onclick="window.location.href='/sql-injection'") SQL umetanje
    div
      button(onclick="window.location.href='/auth/login'") Loša autentifikacija 
